body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: linear-gradient(rgb(182, 182, 182), rgb(178, 233, 255));
    width: 100vw;
    height: 100vh;
}

.container {
    text-align: center;
    z-index: 2;
    position: absolute;
}
img{
    top: 20vh;
    position: absolute;
    text-align: center;
    z-index: -1;
}

.results {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.result {
    margin: 10px;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.result:hover {
    transform: scale(1.05);
}